<div class="chat-container">
    <div class="input-container">
      <input [(ngModel)]="receiverId" placeholder="Receiver ID">
      <input [(ngModel)]="newMessage" placeholder="Type a message">
      <button (click)="sendMessage()">Send</button>
    </div>

    <button mat-raised-button color="warn" (click)="navigateToHome()">Home</button>
    <button mat-raised-button color="warn" (click)="logout()">Logout</button>

    <div *ngIf="notification" class="notification">
      <span>{{ notification }}</span>
      <button (click)="closeNotification()" class="close-btn">×</button>
    </div>
    
    <div class="chat-container">
      <div *ngFor="let message of messages" class="message">
        <p>{{ message.content }}</p>
        <span>Status: {{ message.status }}</span>
      </div>
    </div>
  </div>
  