.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d7771d;
  }
  
  .login-card {
    padding: 20px;
    width: 350px;
    text-align: center;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 15px;
  }